<div class="edit-container">
  <div class="edit-card" *ngIf="user">
    <h2>Edit Profile</h2>
    
    <form (ngSubmit)="updateProfile()">
      <app-input-img [title]="'Profile Picture'" 
      [imageURL]="authService.getFullImageUrl(user.profilePicture)"
      (selectedFile)="onImageSelected($event)">
</app-input-img>

      <div class="form-field">
        <label>Full Name</label>
        <input type="text" [(ngModel)]="user.fullName" name="fullName">
      </div>

      <div class="form-field">
        <label>Username</label>
        <input type="text" [(ngModel)]="user.username" name="username">
      </div>

      <div class="form-field">
        <label>Email</label>
        <input type="email" [(ngModel)]="user.email" name="email">
      </div>

      <div class="form-field">
        <label>Birth Date</label>
        <input type="date" [(ngModel)]="user.birthDate" name="birthDate">
      </div>

      <div class="button-group">
        <button type="submit" class="save-button">
          Save Changes
        </button>
        <button type="button" class="cancel-button" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>